<% @page_title = "UserAuth | Login" -%>
<div>
  <h4>Log in</h4>
  <br />
  <%= form_tag(:action => 'login_attempt') do %>

    <p>Username or Email:</br> <%= text_field_tag(:username_or_email) %></p>
    <p>Password:</br> <%= password_field_tag :login_password %></p>
    <button class="btn waves-effect waves-light #64b5f6 blue lighten-2" type="submit" name="action"><%= submit_tag("Log In") %></button>
    <a href="/users/new" class="btn waves-effect waves-light">Create a new user</a>
    <br><br><%= link_to "(Reset Password)", new_password_reset_path %>
    <br />
    <p> If you want to enlighten the world make sure to <a href="users/new">sign up</a> first!</p>

    <% end %>

      <br />
      <br />
     <span style="color: red;"> <%= flash[:notice] %> </span>
     <span style="color: red;"> <%= flash[:success] %> </span>
</div>
