<div class="row">
      <div class="col s6 m6 card-panel">
        <h5 class="blue-text text-darken-2 center-align">Recent Posts</h5>
      </div>

      <div class="col s6 m6 card-panel">
        <h5 class="blue-text text-darken-2 center-align">Trending Posts</h5>
      </div>
    <!-- MOST RECENTREVIEWS  + MOST LIKED REVIEWS-->

    <div class="row">
      <div id="left">


        <div class="col s6 m6">
          <% if @reviews.empty? %>
            <%= flash[:notice] %>
          <% else %>
          <% @reviews.each do |review| %>
          <div class="card">


            <div class="card-image waves-effect waves-block waves-light">
               <p class="card-content truncate"> <%= review['content']%></p>
            </div>

            <div class="card-content">
              <p class="truncate"><span class="card-title activator grey-text text-darken-4"><%= review['title'] %><br><i class="material-icons right">more_vert</i></span></p>
                <p><a href='/reviews/<%= review['id'] %>'> Full Review </a></p>
            </div>

            <div class="card-reveal">
              <p><span class="card-title grey-text text-darken-4"><%= review['title'] %><i class="material-icons right">close</i></span></p>
                <p><%= review['content'] %></p>
                <br>
                <% @users.each do |user| %>
                  <% if user['id'] === review['user_id'] %>
                   <p>By:<a href="/users/<%= user['id'] %>"> <%= user['user_name'] %> </a></p>
                  <%end%>
                <%end%>
              </div>
            </div>
          <% end %>
        <% end %>

          <!-- CARD 2-->
        </div>
        <!-- RECENT REVIEW COLUMN  -->
      </div>
      <!-- RECENT REVIEWS -->



      <div id="right">
        <div class="col s6 m6">

          <!-- TWITTER API-->
          <% @tweet.each do |tweet|%>
           <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <p class="card-content"> <%= tweet['text']%></p>
            </div>

            <div class="card-content">
              <p class="truncate"><span class="card-title activator grey-text text-darken-4"><%= tweet['user']['screen_name']%></span></p>
              <%= link_to "Review", new_review_path(:data1 => tweet['text'], :data2 => nil) %>
            </div>
          </div>
          <% end %>

          <!-- YELP API -->
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <p class="card-content"> <%= @yelp.snippet_text %> </p>
            </div>

            <div class="card-content">
              <p class="truncate"><span class="card-title activator grey-text text-darken-4"> Yelp Title</span></p>
              <p><%= link_to "Review", new_review_path(:data1 => @yelp.url, :data2 => @yelp.name) %>
            </div>
          </div>

        <!-- WALMART API -->

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <p class="card-content"> <%= @walmart['reviewText'] %> </p>
            </div>

            <div class="card-content">
              <p class="truncate"><span class="card-title activator grey-text text-darken-4"> <%= @walmart['name'] %></span></p>
              <p><%= link_to "Review", new_review_path(:data1 => @walmart['reviewText'], :data2 => @walmart['name']) %>
            </div>
          </div>


        <!-- NEWS API -->

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <p class="card-content"><%= @data['description'] %> </p>
            </div>

            <div class="card-content">
              <p class="truncate"><span class="card-title activator grey-text text-darken-4"><%= @data['title'] %></span></p>
              <p><%= link_to "Review", new_review_path(:data1 => @data['url'], :data2 => @data['title']) %>
            </div>
          </div>


          </div>
          <!-- CARD 2-->
        </div>
        <!-- LIKED REVIEW COLUMN  -->
      </div>
      <!-- LIKED REVIEWS -->
    </div>

</div>
