<p>
<h1><%= @data['title'] %></h1><br>
<%= @data['description'] %><br><br>
Published:<br>
<%= @data['publishedAt'] %><br>
</p>

<br>


<h1><%= @yelp %></h1><br>

<% @tweet.each do |tweet|%>
 <h3><%= tweet['text']%></h3>
 <h4><%= tweet['created_at']%></h4>
 <h4>@<%= tweet['user']['screen_name']%></h4><br>
<%end%>



