<p>
<!-- WALMART -->
<% @walm.each do |review|%>
 <h3>Reviewer: <%= review['reviewer']%></h3>
 <h4>Item: <%= review['name']%></h4>
 <h5><%= review['reviewText']%></h5>
<%end%>

<br>
<!-- YELP -->

<h4><%= @yelp %></h4><br>


<!-- TWITTER -->
<% @tweet.each do |tweet|%>
 <h3><%= tweet['text']%></h3>
 <h4><%= tweet['created_at']%></h4>
 <h4>@<%= tweet['user']['screen_name']%></h4><br>
<%end%>

<br>
<!-- NEWSAPI -->
<h1><%= @data['title'] %></h1><br>
<%= @data['description'] %><br><br>
Published:<br>
<%= @data['publishedAt'] %><br>
</p>


<!-- <a href="/users/new">Create a new user</a> -->

<div class="row">
      <div class="col s6 card-panel">
        <span class="blue-text text-darken-2 trending_up">Most Recent</span>
      </div>

      <div class="col s6 card-panel">
        <span class="blue-text text-darken-2 trending_up">Trending</span>
      </div>
    </div>
    <!-- MOST RECENTREVIEWS  + MOST LIKED REVIEWS-->

    <div class="row">
      <div id="left">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Recent 1<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#">Link to Article</a>
              </p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Artic Title: User Title<i class="material-icons right">close</i></span>
              <p>
                Hammock talk come soon. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. The key to success is to keep your head above the water, never give up. Bless up.
              </p>
            </div>
          </div>
          <!-- CARD 1-->

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Recent 2<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#">Link to Article</a>
              </p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Artic Title: User Title<i class="material-icons right">close</i></span>
              <p>
                Hammock talk come soon. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. The key to success is to keep your head above the water, never give up. Bless up.
              </p>
            </div>
          </div>
          <!-- CARD 2-->
        </div>
        <!-- RECENT REVIEW COLUMN  -->
      </div>
      <!-- RECENT REVIEWS -->

      <div id="right">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Most Liked 1<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#">Link to Article</a>
              </p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Artic Title: User Title<i class="material-icons right">close</i></span>
              <p>
                Hammock talk come soon. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. The key to success is to keep your head above the water, never give up. Bless up.
              </p>
            </div>
          </div>
          <!-- CARD 1-->

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg">
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Most Liked 2<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#">Link to Article</a>
              </p>
            </div>

            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Artic Title: User Title<i class="material-icons right">close</i></span>
              <p>
                Hammock talk come soon. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. The key to success is to keep your head above the water, never give up. Bless up.
              </p>
            </div>
          </div>
          <!-- CARD 2-->
        </div>
        <!-- LIKED REVIEW COLUMN  -->
      </div>
      <!-- LIKED REVIEWS -->
    </div>
    <!-- MAIN ROW-->
