<!DOCTYPE html>
<html>
  <head>
    <title>
      Retrospeck
    </title>
    <%= favicon_link_tag "retrospeck_pos.ico" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="#e0e0e0 grey lighten-2">

<!-- NAV ITEMS RENDER -->
<% if session[:user_id] %>
  <%= render 'postlog' %>
  <% else %>
  <%= render 'prelog' %>
<% end %>

<!--  <nav id ="search-nav">
    <div class="nav-wrapper #64b5f6 blue lighten-2">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav> -->

  <%= form_tag(search_reviews_path, :method => :get, class: "search-form") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Search for previous entries..", class: "nav-wrapper #64b5f6 blue lighten-2" %>
  <% end %>


  <!-- RENDERED MAIN CONTENT -->
  <div class="container">

    <%= image_tag("retrospeck_neg.png", class:"bg-logo responsive-img") %>

    <%= yield %>
  </div>

  <!-- RENDERED MAIN CONTENT -->


  <!-- FOOTER -->
    <footer class="page-footer #42a5f5 blue lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">
              About Retrospeck
            </h5>

            <h6 class="white-text"> Peer-reviews of peer-reviews!</h6>
            <p class="grey-text text-lighten-4">
              Retrospeck is commited to providing the highest form of peer-reviews that you can find on the internet.
              Our expert user base is keen on bringing to light the real opinions of the internet.
              <br/ >
              <br />
              <%= image_tag("retrospeck_neg.png", class:"logo") %>Spector is always watching.
            </p>
          </div>

          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">
              Developed By
            </h5>

            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/nickcostanzo42" target="_blank">Nick Costanzo</a>
              </li>

              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/jamesjholee" target="_blank">James Lee</a>
              </li>

              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/itsthecheat" target="_blank">Leslie Behum</a>
              </li>

              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/Itseasymike" target="_blank">Michael Rivera</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright #64b5f6 blue lighten-2">
        <div class="container">
          © 2016 Retrospeck <a class="grey-text text-lighten-4 right" href="https://www.kickstarter.com/" target="_blank">Invest in Retrospeck today!</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
