<% if @reviews.empty? %>
<h5><%= flash[:notice] %></h5>
<% else %>
<% @reviews.each do |review| %>
    <div class="row valign-wrapper">
      <div class="col s12 m12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <p class="card-content truncate"></p>
            </div>

            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"> <%= review.title %> <i class="material-icons right">more_vert</i></span>
              <p>
                <a href="/reviews/<%= review['id'] %>">Link to Article</a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><%= review.content %><i class="material-icons right">close</i></span>
              <%= review.review_link %>
              <p>

              </p>
                <% @users.each do |user| %>
                  <% if user['id'] === review['user_id'] %>
                   <p>By:<a href="/users/<%= user['id'] %>"> <%= user['user_name'] %> </a></p>
                  <%end%>
                <%end%>

            </div>
          </div> <!-- CARD -->
      </div> <!-- COLUMN -->
    </div> <!-- ROW -->
    <% end %>
  <% end %>
